<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情页</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="content">
        <h2>书名:{{book}}</h2>
        <ul>
            {# 这是注释 #}
            {%for hero in book.heroinfo_set.all%}
                <li><h3>主角:{{hero.hname}}---{{hero.hcontent}}
                        <a href="{% url 'booktest:edithero' hero.id %}">编辑</a>
                        <a href="{% url 'booktest:drophero' hero.id %}">删除</a>
                    </h3>

                </li>
            {%empty%}
                <h1>你还没有添加角色</h1>
            {%endfor%}
        </ul>
{#     <a href="/booktest/list/">返回列表页</a>#}
        <a href="{% url 'booktest:add' book.id %}"> 添加角色</a>
        <a href="{% url 'booktest:list' %}">返回列表页</a>
    </div>

</body>
</html>