<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表页</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/demo.js"></script>
</head>
<body>
    <div style="height: 1000px;"></div>
    <div class="content">
        <h1>列表页</h1>
        <ul id="info">
            {%for book in booklist%}
                {# <li><a href="/booktest/detail/{{book.id}}">书名:{{book.btitle}}</a></li> #}
                {# 取消硬编码 #}
                <li><a href="{% url 'booktest:detail' book.id %}" >书名:{{book.btitle}}</a></li>
                <a href="{% url 'booktest:delete' book.id %}">删除</a>
                <a href="{% url 'booktest:editbook' book.id %}">编辑</a>
                <li>发布时间:{{book.bpub_date}}</li>
                <br>
            {%empty%}
                <h1>书籍还未上架</h1>
            {%endfor%}
        </ul>
        <a href="{% url 'booktest:addbook' %}">添加书籍</a>
        <a href="{% url 'booktest:index' %}">返回首页</a>

    </div>

</body>
</html>